body {
  /* http://lea.verou.me/css3patterns/#weave */
  /*
  background:
  linear-gradient(135deg, #222222 33px, #353535 33px, #353535 36px, transparent 36px, transparent 100.5px, #353535 100.5px, #353535 103.5px, transparent 103.5px),
  linear-gradient(225deg, #222222 33px, #353535 33px, #353535 36px, transparent 36px, transparent 100.5px, #353535 100.5px, #353535 103.5px, transparent 103.5px)0 96px;
  */
  /* This size defines the size of each linear-gradient image */
  /* background-size: 96px 192px; */
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-welcome {
  font-family: Paint;
  color: white;
  font-size: 40px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
}

.App-text {
  font-family: 'Shrikhand', cursive, 'Kreon', arial, sans-serif;
  color: white;
  font-size: 1.9rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  /*
  border:1px solid black;
  padding: 20px;
  */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu-nav {
  margin-left: 80px;
  margin-top: 40px;
}

.menu-list {
    overflow: auto;
    list-style-type: none;
}

.menu-list li {
    height: 37px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
}

.menu-list li:last-child {
  border-right: none;
}

.menu-text {
  text-decoration: none;
  color: #ccc;
  font: 35px/1 'Passion One', cursive, Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-text:hover {
  color: #666;
}

.menu-p {
    padding-top:15px;
    font-size:20px;
}

.my-icon {
  position: absolute;
  top: 30px;
  left: 24px;
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.Banner {
  position: absolute;
  right: 12px;
  top: 40px;
  color: purple;
  font-family: 'Permanent Marker', cursive, 'Passion One', cursive, Helvetica;
  font-size: 25pt;
  font-weight: bold;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -sand-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  text-decoration: none;

  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

@font-face {
  font-family: Paint;
  src: url('../fonts/BLOODY.ttf');
}

/* https://codepen.io/FelixRilling/pen/qzfoc */
@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px purple, 0 0 70px purple, 0 0 80px purple, 0 0 100px purple, 0 0 150px purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px purple, 0 0 35px purple, 0 0 40px purple, 0 0 50px purple, 0 0 75px purple;
  }
}

@import url('https://fonts.googleapis.com/css?family=Kreon');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');