body {
  background-color: #222222;
}

.App {
  text-align: center;
}

.App-welcome {
  font-family: Paint;
  color: white;
  font-size: 40px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.Neon-p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

/* https://codepen.io/FelixRilling/pen/qzfoc */
.Neon-p a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  font-size: 0.8em;
  color: #228DFF;
  font-family: Iceland;

  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.Neon-p a:hover {
  color: #ffffff;
}

.App-text {
  font-family: Helvetica, arial, sans-serif;
  color: white;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  /*
  border:1px solid black;
  padding: 20px;
  */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu-list {
    list-style:none;
    display: inline-block;
}


.menu-list li{
    /* font-size:20px; */
    display: inline-block;
    padding: 20px 150px;
    cursor:pointer;
    /* background-color:white; */
    /* color:#7B8585; */

    transition:0.3s;
}

/*
.menu-list li:hover{
    background-color:#beecea;
}

.menu-list li.focused{
    color:#fff;
    background-color:#cbced3;
}
*/

.menu-p {
    padding-top:15px;
    font-size:20px;
}

.my-icon {
  position: absolute;
  top: 15px;
  left: 12px;
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

@font-face {
  font-family: Paint;
  src: url('./fonts/BLOODY.ttf');
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}