body {
  /* http://lea.verou.me/css3patterns/#weave */
  background:
  linear-gradient(135deg, #222222 33px, #353535 33px, #353535 36px, transparent 36px, transparent 100.5px, #353535 100.5px, #353535 103.5px, transparent 103.5px),
  linear-gradient(225deg, #222222 33px, #353535 33px, #353535 36px, transparent 36px, transparent 100.5px, #353535 100.5px, #353535 103.5px, transparent 103.5px)0 96px;
  background-color:#222222;
  /* This size defines the size of each linear-gradient image */
  background-size: 96px 192px;
}

.App {
  text-align: center;
}

.App-welcome {
  font-family: Paint;
  color: white;
  font-size: 40px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.Neon-p, .Neon-t {
  text-align: center;
  font-size: 7em;
  margin: 0px 0px 0px 0px;
}

.Neon-t {
  margin-top: 80px;
}

/* https://codepen.io/FelixRilling/pen/qzfoc */
.Neon-p a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  font-size: 0.5em;
  color: #228DFF;
  /*font-family: Iceland;*/
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;

  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.Neon-t a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;

  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.Neon-t a:hover {
  color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  cursor: pointer;
}

.Neon-p a:hover {
  color: #ffffff;
}

.App-text {
  font-family: Helvetica, arial, sans-serif;
  color: white;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  /*
  border:1px solid black;
  padding: 20px;
  */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu-list {
    list-style:none;
    display: inline-block;
}


.menu-list li{
    /* font-size:20px; */
    display: inline-block;
    padding: 0px 90px;
    cursor:pointer;
    /* background-color:white; */
    /* color:#7B8585; */

    transition:0.3s;
}

/*
.menu-list li:hover{
    background-color:#beecea;
}

.menu-list li.focused{
    color:#fff;
    background-color:#cbced3;
}
*/

.menu-p {
    padding-top:15px;
    font-size:20px;
}

.my-icon {
  position: absolute;
  top: 30px;
  left: 24px;
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.Banner {
  position: absolute;
  right: 12px;
  top: 60px;
  color: purple;
  font-size: 40pt;
  font-weight: bold;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -sand-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  text-decoration: none;

  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

@font-face {
  font-family: Paint;
  src: url('./fonts/BLOODY.ttf');
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px purple, 0 0 70px purple, 0 0 80px purple, 0 0 100px purple, 0 0 150px purple;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px purple, 0 0 35px purple, 0 0 40px purple, 0 0 50px purple, 0 0 75px purple;
  }
}